{% extends 'base.html' %}


{% block content %}
    <h1>Settings Console</h1>
    Welcome {{ user.get_username }}!
    <a href="/logout">Log out</a>

    <form>
        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" id="description" type="text">
            <label for="generated_result">Generated Email</label>
            <input class="form-control" id="generated_result" type="text" readonly>
        </div>
        <button class="btn btn-default" id="generate_email" type="button">Generate Email</button>
        <button class="btn btn-success" id="add_email" type="button">Add</button>
    </form>

    <div id="emailList">
        {% include "console_list.html" %}
    </div>

    <script>
        function generateEmail() {
            $.ajax({
                url: '/ajax/generate_email/',
                dataType: 'json',
                success: function (data) {
                    $("#generated_result").val(data.generated_email)
                }
            });
        }
        $("#generate_email").click(function () {
            generateEmail();
        });

        $("#add_email").click(function () {
            $.ajax({
                url: '/ajax/add_email/',
                dataType: 'json',
                data: {
                    "description": $("#description").val()
                },
                // stupid shit
                error: function (data) {
                    $("#emailList").html(data.responseText);
                    generateEmail();
                    $("#description").val("")
                }

            });
        });
        function toggleEmail(id) {
            $.ajax({
                url: '/ajax/toggle_email/',
                data: {
                    "id": id
                },
                success: function (data) {
                    $("#emailList").html(data)
                }
            });
        }
    </script>
{% endblock %}
